div(class='header')

div(class='main')
  div(class='chat-wrapper')
    div(class='chat-lists-wrapper')
      div(class='chats')
        div(class='chats-header')
          div(class='chats-name-container')
            input(class='common-input chats-name', type='text', name='chat_name', placeholder='New chat name')
          div(class='chats-add')
            i(class='fa fa-plus')